

.scroll-tracker{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: end;
    justify-content: start;
    background-color: black;
    position: fixed;
    top: 0;
}

.scroll-bar{
    height: 10px;
    background-color: white;

}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


