#stars{
    padding: 50px 0;
    display: flex;
     justify-content: center;

}


.star {
  color: #d1d5db; /* gray */
  transition: color 0.2s ease;
}



.star.active {
  color: #facc15; /* yellow */
}